@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    margin: 0px;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
}

header > p{
    padding-bottom: 50px;
}

header a{
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal{
    background-color: white;
}

.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}

.imagem > p{
    width: 180px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    color: white;
}